asgiref==3.5.2
beautifulsoup4==4.9.1
bootstrap4==0.1.0
Django==4.1
django-bootstrap4==22.2
django-jazzmin==2.5.0
fontawesomefree==6.2.0
Pillow==9.2.0
pip==23.0
pycparser==2.20
Pygments==2.6.1
pytz==2020.1
setuptools==63.4.1
soupsieve==2.0.1
sqlparse==0.3.1
tzdata==2022.2
wheel==0.37.1