{% extends "classroom/base.html" %}
{% load bootstrap4 %}


{% block page %}
Change Password
{% endblock page %}

{% block content %}
<div class="out-form-bx">
    <div class="form-bx">
        <h4>Change Password</h4>
        <hr>
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <br><br>
            <input class="btn btn-primary btn-x" type="submit" name="" value="Change Password">
        </form>
    </div>
    {% endblock content %}