{% extends 'classroom/base.html' %}
{% load static %}

{% block page %}
Student Registeration
{% endblock page %}


{% block content %}

<div class="out-form-bx">
    <div class="form-bx">
        <h4>Student Registeration</h4>
        <hr>
        <form method="post">
            {% csrf_token %}
            {{ user_form.non_field_errors }}
            <div class="mb-3">
                <label for="email" class="form-label">{{ user_form.username.label_tag }}</label>
                <div class="form-control">{{ user_form.username }}</div>
            </div>
            {{ student_profile_form.non_field_errors }}
            <div class="mb-3">
                <label for="username" class="form-label">{{ student_profile_form.name.label_tag }}</label>
                <div class="form-control">{{ student_profile_form.name }}</div>


            </div>

            <div class="mb-3">
                <label for="email" class="form-label">{{ student_profile_form.sem.label_tag }}</label>
                <div class="form-control">{{ student_profile_form.sem }}</div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">{{ student_profile_form.phone.label_tag }}</label>
                <div class="form-control">{{ student_profile_form.phone }}</div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">{{ student_profile_form.email.label_tag }}</label>
                <div class="form-control">{{ student_profile_form.email }}</div>
            </div>


            {{ user_form.non_field_errors }}
            <div class="mb-3">
                <label for="password" class="form-label">{{ user_form.password1.label_tag }}</label>
                <div class="form-control">{{ user_form.password1 }}</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">{{ user_form.password2.label_tag }}</label>
                <div class="form-control">{{ user_form.password2 }}</div>
            </div>




            <button type="submit" class="btn btn-primary btn-x">SignUp</button><br><br>
            <span>
                <p>Already have an <a href="{% url 'classroom:login' %}">Account</a></p>
            </span>
        </form>
    </div>
</div>
{% endblock content %}


<!-- 


<div class="login-page">




    <div class="student-signup-form">
      {% if registered %}
      <h1>Thank you for registering.</h1>
      {% else %}
      <h1>Sign up as a Student.</h1>
      <form method="post">
        {% csrf_token %}

        {{ student_profile_form.non_field_errors }}

        <p> <label>{{ student_profile_form.name.label_tag }}</label>{{ student_profile_form.name }}</p>
        <p> <label >{{ student_profile_form.roll_no.label_tag }}</label>   </p>
        <p> <label for="">{{ student_profile_form.phone.label_tag }}</label> {{ student_profile_form.phone }}</p>
        <p> <label for="">{{ student_profile_form.email.label_tag }}</label>{{ student_profile_form.email }}</p>

        {{ user_form.non_field_errors }}

        <p> <label for="">{{ user_form.username.label_tag }}</label>{{ user_form.username }}</p>
        <p> {{ user_form.username.help_text }}</p>
        <p> <label for="">{{ user_form.password1.label_tag }}</label>{{ user_form.password1 }}</p>
        <p>Password can't be similar to your other fields and must contain atleast 8 characters.</p>
        <p> <label for="">{{ user_form.password2.label_tag }}</label>{{ user_form.password2 }}</p>
        <p> {{ user_form.password2.help_text }} </p>
        <input type="submit" name="" value="Sign Up">
      </form>
      <a href="{% url 'classroom:login' %}">Already have an account.</a>
      {% endif %}
    </div>
</div>

 -->