{% extends 'classroom/base.html' %}
{% load static %}
{% block content %}
<br><br><br>

<div class="container">

  <div class="profile">
    <img src="{% static 'images/profile-background-3.PNG' %}" alt="">
    <div class="profile-box">

      <div class="profile-details px-5  ">
        <div class="t-avatar">
          {% if teacher.teacher_profile_pic %}
          <img src="{{ teacher.teacher_profile_pic.url }}" alt="">
          {% else %}
          <img src="{% static 'images/login-avatar.PNG' %}" alt="">
          {% endif %}
        </div>
        <h1>{{ teacher.name }}</h1>
        <br>
        <div class="profile-teacher">
        <p><i class="far fa-user"></i>{{ teacher.user.username }}</p>
        <p><i class="fa-solid fa-book"></i>{{ teacher.subject_name }}</p>
        <p><i class="fa -solid fa-phone"></i>{{ teacher.phone }}</p>
        <p><i class="fa-solid fa-envelope-open-text"></i>{{ teacher.email }}</p>
        <a href="{% url 'classroom:teacher_update' pk=user.pk %}">
          <p class="edit-button btn btn-outline-dark">Edit profile</p>
        </a>
      </div>  
      </div>
    </div>
  </div>
</div>


<!--
<div class="row">
  <div class="col-md-3">
    {% if teacher.teacher_profile_pic %}
      <img src="{{ teacher.teacher_profile_pic.url }}" style="width:100px;height:100px;">
    {% else %}
      <img src="" alt="">
    {% endif %}
  </div>
  <div class="col-md-9">
    <h1>{{ teacher.user.username }}</h1>
    <br>
    <p>Name: {{ teacher.name }}</p>
    <p>Subject: {{ teacher.subject_name }}</p>
    <p>Email: {{ teacher.email }}</p>
    <p>Phone: {{ teacher.phone }}</p>
    <br>
    <div class="row">
      <div class="col-md-6">
        <p><a class="btn btn-primary" href="{% url 'classroom:teacher_update' pk=user.pk %}">Edit profile</a></p>
      </div>
      <div class="col-md-6">
        <p><a class="btn btn-danger" href="{% url 'classroom:write_notice' %}">Add Notice</a></p>
      </div>
    </div>
</div>
-->
{% endblock %}