{% extends 'classroom/base.html' %}
{% block content %}

<div class="container">
  <div class="jumbotron" style="margin-top: 80px;">
    {% if message_sent %}
    <h2>Message is sent successfully.</h2>
    {% else %}
    <h2 style="text-align: center;">Write a message to {{ teacher.name }}</h2>
    <h6 style="text-align: center;">After sending message you will not be able to edit or delete message.</h6>
    <hr>
    <form method="post" id="write_notice_form">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="btn btn-primary" name="" value="Send Message">
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}